*.o
*.aux
*.bak
*.bbl
*.blg
*.pdf

relative.log
paper.log

align_bwts
build_bwt
lcs
query_test
bwt_benchmark
test_rlz
build_rlzfm
index_dlcp
verify
mutate
cst_traverse
cst_compare

col2vector
fasta2seq

.DS_Store
